{% extends "layout.html" %}
 
{% block content%}
   {% from "_macros.html" import render_field %}
 
   <div class="container">
      <div class="row">
         <h2>Alumnos IDGS-801</h2>
         <a href="/insert_students" class="btn btn-success"><i class="icon-pencil icon-white"></i>Agregar</a>


         <form name="sent" action="/get_students" id="form1" method="POST">
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.id,class='form-control')}}
                </div>
            </div>
            <input type="submit" id="search_students" name="search" value="Buscar"/>
        </form>
         
         <table>
            <thead>
               <tr class="tr-head">
                  <th>Matricula</th>
                  <th>Nombre</th>
                  <th>Apellidos</th>
                  <th>Correo</th>
                  <th>Fecha de creacion</th>
                  <th>Eliminar </th>
                  <th>Modificar</th>
               </tr>
            </thead>
            <tbody>
               {% for student in students %}
               <tr>
            
                  <td>{{ student.id }}</td>      
                  <td>{{ student.name }}</td>
                  <td>{{ student.surname }}</td>
                  <td>{{ student.email }}</td>
                  <td>{{ student.created_date }}</td>
                  <td>
                     <a href="delete_students?id={{ student.id }}" class="btn btn-danger">
                        <i class="icon-remove icon-white"></i>Eliminar
                     </a>
                  </td>
                  <td>
                     <a href="/update_students?id={{ student.id }}" class="btn btn-warning">
                        <i class="icon-pencil icon-white"></i>Modificar
                     </a>
                  </td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>

{% endblock %}
