{% extends "layout.html" %}
 
{% block content%}
   {% from "_macros.html" import render_field %}
 
   <div class="container">
      <div class="row">
         <h2>Profesores IDGS-801</h2>
         <a href="/get_teachers" class="btn btn-success"><i class="icon-pencil icon-white"></i>Regresar</a>


         <form name="sent" action="/insert_teachers" id="form1" method="POST">
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.name,class='form-control')}}
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.surname,class='form-control')}}
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.email,class='form-control')}}
                </div>
            </div>
            <input type="submit" id="insert_teachers" name="registrar" value="Registrar"/>
        </form>

        
         
   </div>

{% endblock %}
